@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 40px 150px;
}

nav {
    gap: 70px;
    display: flex;
}

.header-items {
    gap: 10px;
    display: flex;
    align-items: center;

    font-family: 'IBM Plex Sans';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 20%;
    color: #061224;
}

.account {
    gap: 30px;
    display: flex;
}

.logo {
    width: 150px;
}